*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav, footer{
  background-color: #e2eaf7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}


ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  color: white;
}

a, footer li {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
  background-color: #9ca3af;
  padding: 20px 40px;
  border: 2px solid black;
  border-radius: 10px;
}

.active{
  background-color: #6780ac;
}

/* modifiche file delle pizze */
input, textarea, label{
  display: block;
  margin: 5px;
  border: 3px solid black;
}
.articoloItem{
border: 3px solid black;
margin-bottom: 20px;
padding: 0px 0px 20px 20px;
border-radius: 20px;
margin-top: 20px;
width: 50%;
}
form{
  border: 3px solid black;
  width: 15%;
  border-radius: 20px;
  padding: 10px;
}
button{
  padding: 10px 20px;
  background-color: rgb(67, 153, 252);
  color: white;
  margin-top: 5px;
  border-radius: 10px;
}
img{
  width: 50%;
}
main{
  height: 70vh;
  width: 100%;
}